* { padding: 0; margin: 0; }

body { font: 16px/1.5 "Trebuchet MS", Helvetica, sans-serif; color: #333; padding: 10px; }

a { text-decoration: none; }

nav { padding: 10px; background-color: #eee; border: 1px solid #ddd; border-bottom: 3px solid #ddd; }
nav ul { overflow: hidden; padding: 5px; }
nav ul li { display: block; width: 13.6%; margin: 0 0.76% 0 0; float: left; list-style: none outside; }
nav ul li:last-child { margin-right: 0; }
nav ul li a { display: block; padding: 5px 5px; text-align: center; color: #fff; background-color: #294; border: 1px solid #888; }
nav ul li a:hover { background-color: #28b54f; text-decoration: underline; }
nav ul li:nth-child(2n) a { background-color: #987b23; }
nav ul li:nth-child(2n) a:hover { background-color: #b69329; }